.footer-line {
  height: 1px;
  width: 100%;
  background-color: rgb(110, 110, 110);
}

.footer-wrapper {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 15px;
  background-color: rgb(25, 25, 25);
}

.footer-icon-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer-icon-wrapper img {
  width: 20px;
}
