<ion-tabs>
  <div class="footer-line"></div>
  <div class="footer-wrapper">
    <ion-tab-button class="footer-icon-wrapper" tab="social">
      <img src="../../assets/icons/social_tab_white.svg">
    </ion-tab-button>
    <ion-tab-button class="footer-icon-wrapper" tab="camera">
      <img src="../../assets/icons/camera_tab_white.svg">
    </ion-tab-button>
    <ion-tab-button class="footer-icon-wrapper" tab="feed">
      <img src="../../assets/icons/feed_tab_white.svg">
    </ion-tab-button>
  </div>
</ion-tabs>
