ion-content::-webkit-scrollbar {
    display: none;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container::-webkit-scrollbar {
    display: none;
}

button {
    height: 50px;
    width: 200px;
    background-color: #d14e4e;
    color: white;
    border-radius: 50px;
}