.camera-preview-component {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #191919;
}

.top-camera-preview-control-panel {
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

.top-camera-preview-control-panel-part {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top-camera-preview-control-panel-part:nth-child(1) {
  justify-content: flex-start;
}

.top-camera-preview-control-panel-part:nth-child(2) p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.25px;
  color: #fff;
}

.top-camera-preview-control-panel img {
  width: 12px;
}

.picture-preview-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture-slider {
  height: 450px;
  width: 100%;
}

.picture {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 80%;
  border-radius: 10px;
}

.index-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.index-element {
  height: 7px;
  width: 7px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 3.5px;
  opacity: 0.5;
  transition: all 150ms;
}

.index-element.active {
  opacity: 1;
  transition: all 150ms;
}

.button-wrapper {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-wrapper-part {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.next-button {
  height: 60px;
  width: 60px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.next-button:active {
  transform: scale(0.95);
  transition: all 50ms;
}

.next-button img {
  width: 16px;
  transform: translateX(1.5px) rotate(180deg);
}

.add-button img {
  width: 25px;
}
