.list-item{
    display: flex;
    width: 100%;
    padding: 15px 0px;
    border-bottom: solid #707070;
}

.profile-picture{
    min-height: 70px;
    min-width: 70px;
    background-size: cover;
    border-radius: 100%;
    margin-right: 20px;
}

.friend-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    
}

.friend-name {
    padding-bottom: 5px;
}

.friend-detail {
    font-weight: normal;
    font-size: 14px;
}

.list-buttons {
    display: flex;
    align-items: center;
    color:white;
    font-size: 30px;
}

.list-button {
    margin-right: 15px;
}

.list-button:last-child {
    margin-right: 0px;
}